:root{
  --progress-bar-default:#0075FF;
  --progress-bar:#F70;
  --progress-border:#B6B6B6;
  --progress-bg:#EFEFEF;
}

progress[name="percent-done"],
.todo-progress-bar progress{
  display:inline-block;
  height:8px;
  background:none;
  border-radius: 15px;

}

progress::-webkit-progress-bar,
.todo-progress-bar progress::-webkit-progress-bar{
  height:8px;
  background-color: var(--progress-bg);
  border-radius: 15px;
  box-shadow:0px 0px 6px var(--progress-border) inset;
}

progress::-webkit-progress-value,
.todo-progress-bar progress::-webkit-progress-value{
  display:inline-block;
  float:left;
  height:8px;
  margin:0px -10px 0 0;
  background: var(--progress-bar);
  border-radius: 5px;
  box-shadow:0px 0px 6px var(--progress-border) inset;
}
